
/*.loginbox*/
/*{*/
/*    margin: 15% auto 15% auto; !* 15% from the top, 15% from the bottom and centered *!*/
/*    border: 1px solid #888;*/
/*    width: 30%; !* Could be more or less, depending on screen size *!*/
/*}*/
/*.container{*/
/*    margin: auto 25% auto 25%;*/
/*}*/
/*.loginbox input{*/
/*    text-align: center;*/
/*    width: 250px;*/
/*}*/

/*.loginbox button{*/
/*    align-items: center;*/
/*    width: 250px;*/


.loginbox{
    background: aliceblue;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px darkgray;
    padding: 15px;
    width: 300px;
}

.loginbox input{
    margin: 10px 10px 10px 10px;
}

.box{
    width: 90%;
    height: 400px;
    margin: auto;
}



input {
    border-radius: 10px;
    width: 90%;
    text-align: center;
}

.row{
    margin: 175px;
    /*margin-bottom: auto;*/
    /*margin-top: 100px;*/

}